# Activité ET MS

In [ ]:
import pandas as pd

In [ ]:
cols = [
    "Taux d'occupation des places autorisées en hébergement permanent",
    "Taux d'occupation des lits autorisés en hébergement temporaire",
    "Taux d'occupation des lits autorisés en accueil de jour",
    "Finess",
    "Année"
]
data = pd.read_csv(
    "../../../données/HELIOS 07062022/ANN_ERRD_EJ_ET_2022_06_07.CSV",
    delimiter=";",
    encoding="latin1",
    usecols=cols,
)

In [ ]:
data = data.dropna(how='all')

In [ ]:
activités_des_établissements = data.rename(
    columns = {
        'Finess':'numérofinessÉtablissementterritorial',
        'Année':'année',
        "Taux d'occupation des places autorisées en hébergement permanent": 'tauxdoccupationdesplacesautoriséesenhébergementpermanent',
        "Taux d'occupation des lits autorisés en hébergement temporaire": 'tauxdoccupationdeslitsautorisésenhébergementtemporaire',
        "Taux d'occupation des lits autorisés en accueil de jour": 'tauxdoccupationdeslitsautorisésenaccueil',
    }
)

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://helios:h3li0s@localhost:5432/helios")

In [ ]:
activités_des_établissements\
    .drop_duplicates(subset=['année', 'numérofinessÉtablissementterritorial'])\
    .to_sql("activitémédicosocial", engine, if_exists='append', index=False)